@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
      --card: 0 0% 100%;
      --card-foreground: 240 19% 16%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
      --primary: 346.8 77.2% 49.8%;
      --primary-foreground: 300 0% 100%;;
      --secondary: 240 19% 16%;
      --secondary-foreground: 300 0% 100%;
      --tertiary: 27 82% 98% ;
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 237 13% 40%;
      --accent: 237 9% 96%;
      --accent-foreground: 240 5.9% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 346.8 77.2% 49.8%;
      --radius: 0.5rem;
    }

    .dark {
      --background: 20 14.3% 4.1%;
      --foreground: 0 0% 95%;
      --card: 24 9.8% 10%;
      --card-foreground: 0 0% 95%;
      --popover: 0 0% 9%;
      --popover-foreground: 0 0% 95%;
      --primary: 346.8 77.2% 49.8%;
      --primary-foreground: 355.7 100% 97.3%;
      --secondary: 240 16% 5%;
      --secondary-foreground: 3000 0% 100%;
      --tertiary: 237 22% 20% ;
      --muted: 0 0% 15%;
      --muted-foreground: 237 13% 63%;
      --accent: 240 19% 16%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 85.7% 97.3%;
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 346.8 77.2% 49.8%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.h1 {
  @apply text-4xl xl:text-[60px] xl:leading-[68px] xl:tracking-[-1px] font-bold;
}

.heroSubTitle {
  @apply text-muted-foreground text-sm xl:text-lg mb-5 font-light
}
.devBlob-light {
  background: #e2e8f0;
  background: radial-gradient(circle, #e2e8f0f0 0%, #e2e8f085 30%, #e2e8f00a 50%, #e2e8f000 75%);
}
.devBlob-dark {
  background: #030712;
  background: radial-gradient(circle, #030712 0%, #030712a3 30%, #0307121a 50%, #03071200 75%);
}
.devBlob {
  transition: all 1s ease-in-out;
  animation: wibble 5s ease-in-out infinite;
  @apply backdrop-blur;
}

@keyframes wibble {
  0%, 100%{
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50%{
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}